@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Card Number</th>
        @*<th>Image</th>*@
    </tr>
    @foreach (var c in ViewBag.ListStatement)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.TransactionDate</td>
            <td>@c.CustomerName</td>
            <td>@c.CardNumber</td>
            @*<td>@c.imagePath</td>*@
        </tr> 
    }
        
</table>
    <br />
<br />
    <a href="@Url.Action("Export", "Statement")">Export Statement</a>
</body>
</html>
